.concept {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 100px;
}

.conceptList {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}