.profileImage {
    height: 400px;
    width: 400px;
}

@media (max-width: 750px) {
    .profileImage {
        height: 40vw;
        width: 40vw;
        min-width: 200px;
        min-height: 200px;
    }
}