.gretting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    height: calc(100vh - 64.8px);
}

@media (max-width: 750px) {
    .gretting {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 10vw;
        height: calc(100vh - 64.8px);
    }
}