.title {
    font-size: 40px;
    font-weight: 900;
}

.highlight {
    animation: changeColor 10s infinite;
}

@keyframes changeColor {
    0% {
        color: rgb(34, 202, 152);
    }
    50% {
        color: rgb(140, 34, 202);
    }
    100% {
        color: rgb(34, 202, 152);
    }
}

.hello p {
    margin: 0;
}

@media (max-width: 750px) {
    .title {
        font-size: 5vw;
        font-weight: 900;
    }
}