@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Noto+Sans+KR&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

footer {
  padding: 20px;
  background-color: rgb(58, 58, 58);
  color: white;
}

main {
  display: flex;
  flex-direction: column;
}

main > article {
  padding: 10vh 10vw;
}