@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Noto+Sans+KR&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

footer {
  padding: 20px;
  background-color: rgb(58, 58, 58);
  color: white;
}

/* 구별을 위해 해놓은 것으로, 제거 필요! */
main {
  border: 1px solid black;
}

/* 구별을 위해 해놓은 것으로, 제거 필요! */
article {
  height: 100vh;
  border: 1px solid black;
}